
transfer-learning/output-files/2019_01_28_animal_1DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
gui-setup/Eyelid_Tracking/for_testing/2019_01_17_animal_1_L_SigOutput.mat
gui-setup/Eyelid_Tracking/for_testing/2019_01_17_animal_1_R_SigOutput.mat
transfer-learning/output-files/2019_01_09_animal_2DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_14_animal_1DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_14_animal_2DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_17_animal_1DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_17_animal_2DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_22_animal_1DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_22_animal_2DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_28_animal_2DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_02_07_animal_1DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_02_07_animal_2DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_02_07_animal_3DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_02_07_animal_4DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_02_07_animal_6_downsDeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/figures/2019_01_09_animal_2.png
transfer-learning/output-files/figures/2019_01_14_animal_1.png
transfer-learning/output-files/figures/2019_01_14_animal_2.png
transfer-learning/output-files/figures/2019_01_17_animal_1.png
transfer-learning/output-files/figures/2019_01_17_animal_2.png
transfer-learning/output-files/figures/2019_01_22_animal_1.png
transfer-learning/output-files/figures/2019_01_22_animal_2.png
transfer-learning/output-files/figures/2019_01_28_animal_1.png
transfer-learning/output-files/figures/2019_01_28_animal_2.png
transfer-learning/output-files/figures/2019_02_07_animal_1.png
transfer-learning/output-files/figures/2019_02_07_animal_2.png
transfer-learning/output-files/figures/2019_02_07_animal_3.png
transfer-learning/output-files/figures/2019_02_07_animal_4.png
transfer-learning/output-files/figures/2019_02_07_animal_6.png
transfer-learning/output-files/2019_01_07_animal_1_dlc.csv
transfer-learning/output-files/2019_01_07_animal_1DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_07_animal_2_dlc.csv
transfer-learning/output-files/2019_01_07_animal_2DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_07_animal_3_dlc.csv
transfer-learning/output-files/2019_01_07_animal_3DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_07_animal_4_dlc.csv
transfer-learning/output-files/2019_01_07_animal_4DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_07_animal_6_dlc.csv
transfer-learning/output-files/2019_01_07_animal_6DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/2019_01_09_animal_1_dlc.csv
transfer-learning/output-files/2019_01_09_animal_1DeepCut_resnet50_blinkingFeb7shuffle1_360000.csv
transfer-learning/output-files/animal_3_video_2_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/animal_3_video_2_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/animal_3_video_2_150fps_correctDeepCut_resnet50_full_faceJan24shuffle1_30000.csv
transfer-learning/output-files/crush_19_01_07_animal2DeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/crush_19_01_07_animal2DeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/crush_19_01_07_animal_1DeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/crush_19_01_07_animal_1DeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/figures/2019_01_07_animal_1.png
transfer-learning/output-files/figures/2019_01_07_animal_2.png
transfer-learning/output-files/figures/2019_01_07_animal_3.png
transfer-learning/output-files/figures/2019_01_07_animal_4.png
transfer-learning/output-files/figures/2019_01_07_animal_6.png
transfer-learning/output-files/figures/2019_01_09_animal_1.png
transfer-learning/output-files/march_8_animal_1_video_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/march_8_animal_1_video_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/oldies/animal_3_video_2_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/oldies/animal_3_video_2_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/oldies/animal_3_video_2_150fps_correctDeepCut_resnet50_full_faceJan24shuffle1_30000.csv
transfer-learning/output-files/oldies/crush_19_01_07_animal2DeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/oldies/crush_19_01_07_animal2DeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/oldies/crush_19_01_07_animal_1DeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/oldies/crush_19_01_07_animal_1DeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/oldies/march_8_animal_1_video_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000.csv
transfer-learning/output-files/oldies/march_8_animal_1_video_150fps_correctDeepCut_resnet50_eyes_onlyJan25shuffle1_350000_labeled.mp4
transfer-learning/output-files/oldies/sample_output.mp4
transfer-learning/output-files/sample_output.mp4
transfer-learning/output-files/validation/dlcfiles/2019_01_07_animal_1_dlc.csv
transfer-learning/output-files/validation/dlcfiles/2019_02_07_animal_4_dlc.csv
transfer-learning/output-files/validation/feb7-an1-R-61-635.html
transfer-learning/output-files/validation/jan7-an1-R-38-48.html
transfer-learning/output-files/validation/matfiles/2019_01_07_animal_1_R_SigOutput.csv
transfer-learning/output-files/validation/matfiles/2019_01_07_animal_1_R_SigOutput.mat
transfer-learning/output-files/validation/matfiles/2019_02_07_animal_4_R_SigOutput.csv
transfer-learning/output-files/validation/matfiles/2019_02_07_animal_4_R_SigOutput.mat
transfer-learning/output-files/validation/valfiles/F7A4R_R_ValOutput.csv
transfer-learning/output-files/validation/valfiles/F7A4R_R_ValOutput.mat
transfer-learning/output-files/validation/valfiles/J7A1R_R_ValOutput.csv
transfer-learning/output-files/validation/valfiles/J7A1R_R_ValOutput.mat
